body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    position: relative;
}
.dark-mode  {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode section,
.dark-mode .form-control,
.dark-mode .container,
.dark-mode .row,
.dark-mode .col,
.dark-mode .card,
.dark-mode .flex,
.dark-mode footer {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
  border-color: #333 !important;
}

.navbar-nav a{
    color: inherit;
    position: relative;
}
.navbar-nav a:hover{
    color: #fca61f;
}
.navbar-nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    top: 35px;
    position: absolute;
    background: #fca61f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.navbar-nav a:hover:after { 
    width: 100%; 
    left: 0; 
  }

.c-btn{
    border: none;
    background: #fca61f;
    color: #fff;
    font-size: 1.2rem;
}

.home{
    background: linear-gradient(33deg, rgba(242,242,255,1) 0%, rgba(235,249,255,1) 100%);
    padding: 30px 0px 10px 0px;
}
.home h2{
    font-size: 3rem;
    line-height: 4rem;
}
.h-text{
    color: #6f34fe;
    font-weight: 700;
    font-size: 4rem;
}
.home p{
    width: fit-content;
    margin-top: 1rem;
    font-size: 1.2rem;
}
.h-btn:hover{
    background: #6f34fe;
    color: #fff;
    transform: translateY(-20px);
    transition-duration: 1s;
}

.home img{
    animation: floatimg 4s ease-in-out infinite;
}

@keyframes floatimg {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-24px);
    }
    100%{
        transform: translateX(0);
    }
}

.heading small{
    color: #6f34fe;
    font-size: 1.5rem;
    font-weight: 600;
}
.heading h3{
    margin-top: 0.5rem;
    color: #3f396d;
    font-size: 2.5rem;
    font-weight: 700;
}
.heading p{
    font-size: 1.3rem;
}
.text{
    font-size: 1.2rem;
    font-weight: 500;
}

.skill{
    background-color: rgb(234, 234, 249);
}
#skill-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
    height:50px;
    object-fit: contain;

}
.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  padding: 1em;
}
.project-card {
  border: 1px solid #ccc;
  padding: 1em;
  width: 300px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}
.project-desc {
  display: none;
  transition: all 0.3s ease;
}
.project-img {
    height: 80px;
    object-fit: cover;
}

.expertise h4{
    color: #3f396d;
    font-weight: 700;
}
.expertise .card-body{
    text-align: center;
    padding: 15px 15px;
    border-radius: 0.7rem;
}
.contact{
    background-color: #f3f3f3;
}
.contact-details i{
    font-size: 1.5rem;
    color: #fca61f;
}
.contact-details p{
    font-size: 1.2rem;
    margin-left: 1rem;
}
.contact-form .form-control:focus{
    box-shadow: none;
    border: 1px solid #fca61f;
}
.contact-form .form-control{
    padding: 10px 10px;
    width: 80%;
}

/* footer section starts */
footer{
    background-color: #d2c7ed;
}

footer .link-group a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #6c757d;
    font-size: 1.1rem;
    margin-top: 1rem;
}
footer .link-group a:hover{
    color: #fca61f;
}
.social-links .button{
    border: none;
    margin-right: 1rem;
    font-size: 1.2rem;
    background-color: #fff;
    padding: 14px 15px 10px 15px;
}
.social-links .github{
    color: black;
}
.social-links .linkedin{
    color: #0077B5;
}
.social-links .email{
    color: #DB4437;
}
.social-links .button:hover{
    color: #fff;
    transform: translateY(-20px);
    transition-duration: 1s;
}

#scrollToTopBtn {
  z-index: 999;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

#icon{
    width: 1.8rem;
    cursor: pointer;
    z-index: 1;
    border-radius: 2rem;
    border-color: darkgray;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}